@media only screen and (max-width: 1600px) {
    .icon-bar{
        
        width: 90px;
        height: auto;
    }

    #into{
        height: 740px;   
    }

    #about{
        margin: 49.2% 0% 0% 0%;
    }

    #myphoto2{
        margin: -27% 0% 0% 47%;
    }

    #skills{
        margin: 121.7% 0% 0% 0%;
    }

    #myCanvas{
        margin: -90%  0% 0% 51%;
    }

    .fonts{
        margin: -27% 0% 0% 51%;
    }  

    .skill-font{
        margin: 8% 0% 0% 9%;
    }

    
    #code{
        margin: 170.8% 0% 0% 0%;
    }

    #portfolio{
        margin-left: 20%;
    }

    .portfolio{
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 30.3%;
        height: 30.3%;
        position: relative;
        bottom: 20px;
    }

    #contact{
        margin: 252.8% 0% 0% 0%;
    }

}



/*
@media only screen and (max-width: 1366px) {
    .icon-bar, #into{
        height: 872px;
    }
    .welcome{
        margin: -50% 44%;
        height: 872px;
    }

    #abouts{
        height: 1200px;
        margin-top: -0.78%;
    }
    #about{
        margin: 0%;
    }
    .quote {
        margin-left: 10%;
        margin-top: -59%;
    } 

    #myphoto2{
        margin: -62% 55%;
    }

    #skills{
        margin-top: -1.01%;
        height: 872px
    }

    #myCanvas{
        margin: -58% 57%;
    }
    #code{
        margin-top: -1%;
    }
  
}
@media only screen and (max-width: 400px) {
  
   

    #abouts{
        height: 1373px;
        margin-top: -1.6%;
        width: 100%;
        margin-left: 0;
    }

    .title{
        margin: 1% 19%;
    }

    #myphoto {
        margin: 5% 19%;
        height: 250px;
        width: 250px;
    }

    #myphoto2{
       display: none;
       margin: 0%;
       height: 0px;
       width: 0px;
    }

    .fonts{
        margin: 0% 8%;
        font-size: 19px;
        height: 300px;
        width: 300px;
    }

    #two{
        margin: 31% 7%;
    }
   

    

    #skills{
        height: 740px;
        margin: -3.6% 0%;
        width: 100%;
    }

    .skill-font {
        margin: 8% 9%;
        width: 300px;
    }

    #myCanvas{
        margin: 3.9% 0%;
         width: 100%;
         height: auto;
    }
    
    #code{
        margin-top: 150%;
        width: 100%;
        height: 2500px;
        width: 100%;
        margin-left: 0%;
    
    }
  
    .welcome{
        margin: -72% -4%;
        font-size: 20px;
        height: auto;
    }

    .quote {
        margin-left: 8%;
        margin-top: -105%;
        font-size: 20px;
    } 
    .icon-bar a {
        float: left; 
        text-align: center; 
        width: 14.28%; 
        padding: 34px 0; 
        transition: all 0.3s ease; 
        color: white; 
        font-size: larger; 
    }

    .tooltip .tooltiptext {
        top: 71%;
        left: 117%;
        font-size: 15px;
    }


    .fa{
        width: 16px;
    }
        
    .icon-bar {
        overflow: auto;
        width: 100%;   
        height: auto;
        position: fixed;
    }
    .container2{
        margin-left: auto;
        width: 100%
    }

    


    #into{
        margin-left: 0%;
        width: 100%;
        height: 545px;
    }

    body{
        margin: 0%;
        width: 100%;
    }

    #position{
        margin-left:14%; 
    }

  

}*/



