@media only screen and (max-width: 1680px) {
    .icon-bar{
        
        width: 90px;
        height: auto;
    }

    #into{
        height: 740px;   
    }

    #about{
        margin: 61% 0% 0% 0%;
    }

    #two{
        margin: -7% 0% 0% 20%;
    }

    #myphoto2{
        margin: -27% 0% 0% 47%;
    }

    #skills{
        margin: 131% 0% 0% 0%;
    }

    #myCanvas{
        margin: -90%  0% 0% 51%;
    }

    .fonts{
        margin: -27% 0% 0% 51%;
    }  

    .skill-font{
        margin: 8% 0% 0% 9%;
    }

    
    #code{
        margin: 192% 0% 0% 0%;
    }

    #portfolio{
        margin-left: 10%;
        width: 1300px;
    }

    .portfolio{
        width: 22.3%;
    }

    #contact{
        margin: 272.8% 0% 0% 0%;
    }

}
@media only screen and (max-width: 1590px) {
    .icon-bar{
        
        width: 90px;
        height: auto;
    }

    #into{
        height: 740px;   
    }

    #about{
        margin: 49.2% 0% 0% 0%;
    }

    #myphoto2{
        margin: -27% 0% 0% 47%;
    }

    #skills{
        margin: 121.7% 0% 0% 0%;
    }

    #myCanvas{
        margin: -90%  0% 0% 51%;
    }

    .fonts{
        margin: -27% 0% 0% 51%;
    }  

    .skill-font{
        margin: 8% 0% 0% 9%;
    }

    
    #code{
        margin: 170.8% 0% 0% 0%;
    }

    #portfolio{
        margin-left: 20%;
    }

    .portfolio{
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 30.3%;
        height: 30.3%;
        position: relative;
        bottom: 20px;
    }

    #contact{
        margin: 252.8% 0% 0% 0%;
    }

}

